@import 'variables';

/*
d888888P                                                                dP
   88                                                                   88
   88    dP    dP 88d888b. .d8888b. .d8888b. 88d888b. .d8888b. 88d888b. 88d888b. dP    dP
   88    88    88 88'  `88 88'  `88 88'  `88 88'  `88 88'  `88 88'  `88 88'  `88 88    88
   88    88.  .88 88.  .88 88.  .88 88.  .88 88       88.  .88 88.  .88 88    88 88.  .88
   dP    `8888P88 88Y888P' `88888P' `8888P88 dP       `88888P8 88Y888P' dP    dP `8888P88
              .88 88                     .88                   88                     .88
          d8888P  dP                 d8888P                    dP                 d8888P
 */
.bg-primary { background-color: $primary !important; }
.bg-yellow { background-color: $yellow !important; }
.bg-red { background-color: $red !important; }
.bg-green { background-color: $green !important; }
.bg-purple { background-color: $purple !important; }
.bg-black { background-color: $black !important; }
.bg-darkgray { background-color: $darkgray !important; }
.bg-darkblue { background-color: $darkblue !important; }
.bg-gray { background-color: $gray !important; }
.bg-lightgray { background-color: $lightgray !important; }
.bg-white { background-color: $white !important; }
.bg-gold { background-color: $gold !important; }
.bg-silver { background-color: $silver !important; }
.bg-bronze { background-color: $bronze !important; }

.text-primary { color: $primary !important; }
.text-yellow { color: $yellow !important; }
.text-red { color: $red !important; }
.text-green { color: $green !important; }
.text-purple { color: $purple !important; }
.text-black { color: $black !important; }
.text-darkgray { color: $darkgray !important; }
.text-darkblue { color: $darkblue !important; }
.text-gray { color: $gray !important; }
.text-lightgray { color: $lightgray !important; }
.text-white { color: $white !important; }
.text-gold { color: $gold !important; }
.text-silver { color: $silver !important; }
.text-bronze { color: $bronze !important; }

.font-w300 { font-weight: 300 !important; }
.font-w400 { font-weight: 400 !important; }
.font-w500 { font-weight: 500 !important; }
.font-w700 { font-weight: 700 !important; }
.font-w900 { font-weight: 900 !important; }

.font-sm { font-size: 14px !important; }
.font-md { font-size: 16px !important; }
.font-lg { font-size: 19px !important; }
.font-xl { font-size: 25px !important; }

.fill-transparent { fill: transparent !important; }
.fill-primary { fill: $primary !important; }
.fill-yellow { fill: $yellow !important; }
.fill-red { fill: $red !important; }
.fill-green { fill: $green !important; }
.fill-purple { fill: $purple !important; }
.fill-black { fill: $black !important; }
.fill-darkgray { fill: $darkgray !important; }
.fill-darkblue { fill: $darkblue !important; }
.fill-gray { fill: $gray !important; }
.fill-lightgray { fill: $lightgray !important; }
.fill-white { fill: $white !important; }
.fill-gold { fill: $gold !important; }
.fill-silver { fill: $silver !important; }
.fill-bronze { fill: $bronze !important; }

* {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'salt' on, 'case' on, 'kern' off;
    color: $darkgray;
    transition: $theme-transition;
}

u, b, i, s, strong, em, time {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}

b, strong {
    font-weight: bolder;
}

i, em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    span {
        font-size: inherit;
    }
}

code {
    color: inherit !important;
}

blockquote {
    border-left: 4px solid #DBDBDB;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}

hr {
    border-top: 1px solid $smokegray !important;
}

a {
    transition: 500ms ease-in-out;

    &:not([class]) { color: $primary; }

    &:not(.link-unstyled):hover {
        text-decoration: none!important;
        opacity: 0.6;
        transition: 300ms ease-in-out;

        .card {
            box-shadow: $shadow-lifted;
            transform: translateY(-5px);
            opacity: 1;
        }

        .btn {
            opacity: 1!important;
        }
    }
}

.overflow-ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

.list-group-item {
    a { transition: 0s !important; }
    &.active {
        background-color: $primary !important;
        border-color: $primary !important;
        a { color: white !important; }
    }
}

.header {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    padding: 60px 130px;
}

@media (max-width: 767px) {
    .header {
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header h1 {
    font-size: 60px;
}

.dropdown .btn {
    color: white !important;
}

.dropdown-toggle {
    color: inherit !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary;
}

.dropdown-menu {
    min-width: unset !important;
    border: none !important;
    box-shadow: $shadow-lifted;
}

#notistack-snackbar, #notistack-snackbar path {
    color: white;
}

::selection {
    background-color: rgba(lighten($darkblue, 30%), 0.4);
}

.progress {
    height: 1.4rem!important;
}

.progress-bar, .progress-bar span {
    font-size: 0.8rem;
    font-weight: 500;
}

.progress-bar.bg-green {
    span { color: white; }
    svg { fill: white; }
}

.popover {
    border-radius: 2px !important;
    border: none !important;
    box-shadow: $shadow-lifted;
}

.popover-header {
    background-color: #f2f2f2;
    border: none;
}

.popover-header::before {
    display: none !important;
}

.popover .arrow {
    display: none !important;
}

.list-group-item {
    border: none !important;
    border-left: 3px solid transparent !important;
    background-color: transparent !important;

    a, &.active a {
        color: $darkgray !important;
        font-size: 18px;
        transition: 250ms !important;
    }

    &.active {
        border: none !important;
        border-left: 3px solid $primary !important;
        background-color: transparent !important;
        color: $darkgray !important;
        margin-top: 0 !important;

        a {
            font-weight: 700;
        }
    }
}

.table td {
    border-top-color: rgba(#aaaaaa, 0.25) !important;
}

.table th {
    border-top: none !important;
    border-bottom-color: rgba(#aaaaaa, 0.25) !important;
}

.table-striped tbody {
    tr:nth-of-type(odd) {
        background-color: rgba(#aaaaaa, 0.1) !important;
    }
    tr:nth-of-type(even) {
        background-color: unset !important;
    }
}


/*
 88888888b
 88
a88aaaa    .d8888b. 88d888b. 88d8b.d8b. .d8888b.
 88        88'  `88 88'  `88 88'`88'`88 Y8ooooo.
 88        88.  .88 88       88  88  88       88
 dP        `88888P' dP       dP  dP  dP `88888P'
 */
.form-control {
    background-color: #FAFAFA !important;
    transition: border .2s, box-shadow .2s !important;
    border-color: $smokegray !important;

    &:disabled, &:read-only {
        background-color: rgba($smokegray, 0.4) !important;
    }
}

.is-invalid {
    &.form-control, &.form-control:focus, .custom-control-label::before,
    .css-yk16xz-control, .css-1pahdxg-control {
        border: 1px $red solid !important;
        box-shadow: 0 0 0 1px $red !important;
    }
    &.form-control {
        background-image: none !important;
        padding-right: 0.75rem !important;
    }
}

.css-yk16xz-control, .css-1pahdxg-control, .custom-control-label::before {
    border-color: $smokegray !important;
    background-color: transparent !important;
    transition: border .2s, box-shadow .2s !important;
}

.css-yk16xz-control, .css-1pahdxg-control {
    min-height: calc(1.5em + .75rem + 2px) !important;
}

.css-9gakcf-option {
    background-color: $primary !important;
}

.form-control:focus, .css-1pahdxg-control {
    border: 1px $primary solid !important;
    box-shadow: 0 0 0 1px $primary !important;
    transition: border .2s, box-shadow .2s !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary !important;
    border-color: $primary !important;
}

.css-1rhbuit-multiValue {
    background-color: rgba(#dcdcdc, 0.2) !important;
}

.dropzone {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 2px $lightgray dashed;
    padding: 0 20px;
    cursor: pointer;
    p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:focus {
        outline: none;
    }
}

/*
dP                                              dP
88                                              88
88        .d8888b. dP    dP .d8888b. dP    dP d8888P
88        88'  `88 88    88 88'  `88 88    88   88
88        88.  .88 88.  .88 88.  .88 88.  .88   88
88888888P `88888P8 `8888P88 `88888P' `88888P'   dP
                        .88
                    d8888P
 */
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: #F9F9F9;
}

section {
    padding-top: 150px;
    margin-top: -150px;
}

.container-fluid {
    padding: 60px 10% !important;
}

@media (max-width: $screen-sm-max) {
    .container-fluid {
        padding: 60px !important;
    }
}

@media (max-width: $screen-xs-max) {
    .container-fluid {
        padding: 60px 40px !important;
    }
}

@media (min-width: $screen-xl-min) {
    .container-fluid {
        padding: 60px 22% !important;
    }
}

.position-unset {
    position: unset!important;
}

.li-flex {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.css-26l3qy-menu {
    z-index: 999 !important;
}

.no-scroll {
    overflow: hidden !important;
    position: relative !important;
}

.overflow-visible {
    overflow: visible !important;
}

/*
 888888ba             dP     dP
 88    `8b            88     88
a88aaaa8P' dP    dP d8888P d8888P .d8888b. 88d888b. .d8888b.
 88   `8b. 88    88   88     88   88'  `88 88'  `88 Y8ooooo.
 88    .88 88.  .88   88     88   88.  .88 88    88       88
 88888888P `88888P'   dP     dP   `88888P' dP    dP `88888P'

 888888ba                 dP
 88    `8b                88
a88aaaa8P' .d8888b. .d888b88 .d8888b. .d8888b. .d8888b.
 88   `8b. 88'  `88 88'  `88 88'  `88 88ooood8 Y8ooooo.
 88    .88 88.  .88 88.  .88 88.  .88 88.  ...       88
 88888888P `88888P8 `88888P8 `8888P88 `88888P' `88888P'
                                  .88
                              d8888P
 */
.btn {
    border: 2px solid transparent !important;
    border-radius: 5px !important;
    padding: 4px 22px !important;
    font-weight: 700 !important;
    transition: color 300ms;

    &:not(.btn-link) {
        color: white;
        fill: white;
    }

    &.btn-sm {
        border-radius: 4px !important;
        padding: 3px 13px !important;
        font-size: 13px !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    svg {
        fill: inherit;
    }
}

.btn-group {
    > .btn:not(:first-child) {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: none !important;
    }
    > .btn:not(:last-child) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: none !important;
    }
}

.badge {
    color: white !important;
    border: 2px solid transparent;
    border-radius: 4px !important;
    padding: 5px 13px !important;
    font-size: 13px !important;
    min-width: 120px;

    &.rounded {
        border-radius: 100px !important;
        padding: 2px 6px !important;
        min-width: unset;
    }

    &.badge-sm {
        min-width: unset!important;
    }

    &.badge-lg {
        font-size: 20px !important;
    }

    svg {
        fill: inherit;
    }
}

.btn-light-primary, .btn-outline-primary, .btn-bg-primary, .badge-light-primary, .badge-outline-primary { color: $primary !important; fill: $primary !important; }
.btn-light-yellow, .btn-outline-yellow, .btn-bg-yellow, .badge-light-yellow, .badge-outline-yellow { color: $yellow !important; fill: $yellow !important; }
.btn-light-red, .btn-outline-red, .btn-bg-red, .badge-light-red, .badge-outline-red { color: $red !important; fill: $red !important; }
.btn-light-green, .btn-outline-green, .btn-bg-green, .badge-light-green, .badge-outline-green { color: $green !important; fill: $green !important; }
.btn-light-purple, .btn-outline-purple, .btn-bg-purple, .badge-light-purple, .badge-outline-purple { color: $purple !important; fill: $purple !important; }
.btn-light-black, .btn-outline-black, .btn-bg-black, .badge-light-black, .badge-outline-black { color: $black !important; fill: $black !important; }
.btn-light-darkgray, .btn-outline-darkgray, .btn-bg-darkgray, .badge-light-darkgray, .badge-outline-darkgray { color: $darkgray !important; fill: $darkgray !important; }
.btn-light-darkblue, .btn-outline-darkblue, .btn-bg-darkblue, .badge-light-darkblue, .badge-outline-darkblue { color: $darkblue !important; fill: $darkblue !important; }
.btn-light-gray, .btn-outline-gray, .btn-bg-gray, .badge-light-gray, .badge-outline-gray { color: $gray !important; fill: $gray !important; }
.btn-light-lightgray, .btn-outline-lightgray, .btn-bg-lightgray, .badge-light-lightgray, .badge-outline-lightgray { color: $lightgray !important; fill: $lightgray !important; }
.btn-light-white, .btn-outline-white, .btn-bg-white, .badge-light-white, .badge-outline-white { color: $darkgray !important; fill: $darkgray !important; }
.btn-white, .badge-white { color: $darkgray !important; fill: $darkgray !important; }

.btn-light-primary, .badge-light-primary { background-color: rgba($primary, .4) !important; }
.btn-light-yellow, .badge-light-yellow { background-color: rgba($yellow, .4) !important; }
.btn-light-red, .badge-light-red { background-color: rgba($red, .4) !important; }
.btn-light-green, .badge-light-green { background-color: rgba($green, .4) !important; }
.btn-light-purple, .badge-light-purple { background-color: rgba($purple, .4) !important; }
.btn-light-black, .badge-light-black { background-color: rgba($black, .4) !important; }
.btn-light-darkgray, .badge-light-darkgray { background-color: rgba($darkgray, .4) !important; }
.btn-light-darkblue, .badge-light-darkblue { background-color: rgba($darkblue, .4) !important; }
.btn-light-gray, .badge-light-gray { background-color: rgba($gray, .4) !important; }
.btn-light-lightgray, .badge-light-lightgray { background-color: rgba($lightgray, .4) !important; }
.btn-light-white, .badge-light-white { background-color: rgba($white, .4) !important; }

.btn-outline-primary, .badge-outline-primary { border-color: $primary !important; }
.btn-outline-yellow, .badge-outline-yellow { border-color: $yellow !important; }
.btn-outline-red, .badge-outline-red { border-color: $red !important; }
.btn-outline-green, .badge-outline-green { border-color: $green !important; }
.btn-outline-purple, .badge-outline-purple { border-color: $purple !important; }
.btn-outline-black, .badge-outline-black { border-color: $black !important; }
.btn-outline-darkgray, .badge-outline-darkgray { border-color: $darkgray !important; }
.btn-outline-darkblue, .badge-outline-darkblue { border-color: $darkblue !important; }
.btn-outline-gray, .badge-outline-gray { border-color: $gray !important; }
.btn-outline-lightgray, .badge-outline-lightgray { border-color: $lightgray !important; }
.btn-outline-white, .badge-outline-white { border-color: $white !important; }

.btn-primary, .badge-primary { background-color: $primary !important; }
.btn-yellow, .badge-yellow { background-color: $yellow !important; }
.btn-red, .badge-red { background-color: $red !important; }
.btn-green, .badge-green { background-color: $green !important; }
.btn-purple, .badge-purple { background-color: $purple !important; }
.btn-black, .badge-black { background-color: $black !important; }
.btn-darkgray, .badge-darkgray { background-color: $darkgray !important; }
.btn-darkblue, .badge-darkblue { background-color: $darkblue !important; }
.btn-gray, .badge-gray { background-color: $gray !important; }
.btn-lightgray, .badge-lightgray { background-color: $lightgray !important; }
.btn-white, .badge-white { background-color: $white !important; }

.btn-primary, .btn-light-primary, .badge-primary, .badge-light-primary { box-shadow: 0 4px 10px rgba($primary, 0.25)!important; }
.btn-yellow, .btn-light-yellow, .badge-yellow, .badge-light-yellow { box-shadow: 0 4px 10px rgba($yellow, 0.25)!important; }
.btn-red, .btn-light-red, .badge-red, .badge-light-red { box-shadow: 0 4px 10px rgba($red, 0.25)!important; }
.btn-green, .btn-light-green, .badge-green, .badge-light-green { box-shadow: 0 4px 10px rgba($green, 0.25)!important; }
.btn-purple, .btn-light-purple, .badge-purple, .badge-light-purple { box-shadow: 0 4px 10px rgba($purple, 0.25)!important; }
.btn-black, .btn-light-black, .badge-black, .badge-light-black { box-shadow: 0 4px 10px rgba($black, 0.25)!important; }
.btn-darkgray, .btn-light-darkgray, .badge-darkgray, .badge-light-darkgray { box-shadow: 0 4px 10px rgba($darkgray, 0.25)!important; }
.btn-darkblue, .btn-light-darkblue, .badge-darkblue, .badge-light-darkblue { box-shadow: 0 4px 10px rgba($darkblue, 0.25)!important; }
.btn-gray, .btn-light-gray .badge-gray, .badge-light-gray { box-shadow: 0 4px 10px rgba($gray, 0.25)!important; }
.btn-lightgray, .btn-light-lightgray, .badge-lightgray, .badge-light-lightgray  { box-shadow: 0 4px 10px rgba($lightgray, 0.25)!important; }
.btn-white, .btn-light-white, .badge-white, .badge-light-white { box-shadow: 0 4px 10px rgba($white, 0.25)!important; }

.btn:hover:enabled, .btn:focus:enabled, .btn.active:enabled {
    color: white !important;
    fill: white !important;

    &.btn-white, &.btn-light-white, &.btn-outline-white, &.btn-bg-white, &.btn-link { color: $darkgray !important; fill: $darkgray !important; }

    &.btn-light-primary, &.btn-outline-primary, &.btn-bg-primary { background-color: $primary !important; }
    &.btn-light-yellow, &.btn-outline-yellow, &.btn-bg-yellow { background-color: $yellow !important; }
    &.btn-light-red, &.btn-outline-red, &.btn-bg-red { background-color: $red !important; }
    &.btn-light-green, &.btn-outline-green, &.btn-bg-green { background-color: $green !important; }
    &.btn-light-purple, &.btn-outline-purple, &.btn-bg-purple { background-color: $purple !important; }
    &.btn-light-black, &.btn-outline-black, &.btn-bg-black { background-color: $black !important; }
    &.btn-light-darkgray, &.btn-outline-darkgray, &.btn-bg-darkgray { background-color: $darkgray !important; }
    &.btn-light-darkblue, &.btn-outline-darkblue, &.btn-bg-darkblue { background-color: $darkblue; }
    &.btn-light-gray, &.btn-outline-gray, &.btn-bg-gray { background-color: $gray !important; }
    &.btn-light-lightgray, &.btn-outline-lightgray, &.btn-bg-lightgray { background-color: $lightgray !important; }
    &.btn-light-white, &.btn-outline-white, &.btn-bg-white { background-color: $white !important; }

    &.btn-primary { background-color: darken($primary, 8%) !important; }
    &.btn-yellow { background-color: darken($yellow, 8%) !important; }
    &.btn-red { background-color: darken($red, 8%) !important; }
    &.btn-green { background-color: darken($green, 8%) !important; }
    &.btn-purple { background-color: darken($purple, 8%) !important; }
    &.btn-black { background-color: darken($black, 8%) !important; }
    &.btn-darkgray { background-color: darken($darkgray, 8%) !important; }
    &.btn-darkblue { background-color: darken($darkblue, 8%) !important; }
    &.btn-gray { background-color: darken($gray, 8%) !important; }
    &.btn-lightgray { background-color: darken($lightgray, 8%) !important; }
    &.btn-white { background-color: darken($white, 8%) !important; }
}

.btn-vatsim {
    background: $white !important;
    box-shadow: 0 4px 10px rgba($white, 0.25) !important;
    transition: 500ms;

    span {
        color: $primary;
        text-shadow: 0 4px 10px rgba($primary, 0.25);
        background: -webkit-linear-gradient(45deg, $primary 20%, #2B3990);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 500ms;
    }
}

.navbar-shrink .btn-vatsim, .mobile-nav .btn-vatsim {
    background-color: $primary !important;
    box-shadow: 0 4px 10px rgba($primary, 0.25) !important;
    transition: 500ms;

    span {
        color: $white;
        text-shadow: 0 4px 10px rgba($white, 0.25);
        background: none;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        transition: 500ms;
    }
}

/*
 .d888888  dP                     dP
d8'    88  88                     88
88aaaaa88a 88 .d8888b. 88d888b. d8888P .d8888b.
88     88  88 88ooood8 88'  `88   88   Y8ooooo.
88     88  88 88.  ... 88         88         88
88     88  dP `88888P' dP         dP   `88888P'
 */
.alert {
    border: none !important;
    border-radius: 5px;
    padding: 20px !important;

    * {
        color: inherit;
    }
}
.alert-primary { color: $primary !important; background-color: rgba($primary, 0.1) !important; }
.alert-yellow { color: $yellow !important; background-color: rgba($yellow, 0.1) !important; }
.alert-red { color: $red !important; background-color: rgba($red, 0.1) !important; }
.alert-green { color: $green !important; background-color: rgba($green, 0.1) !important; }
.alert-purple { color: $purple !important; background-color: rgba($purple, 0.1) !important; }
.alert-black { color: $black !important; background-color: rgba($black, 0.1) !important; }
.alert-darkgray { color: $darkgray !important; background-color: rgba($darkgray, 0.1) !important; }
.alert-darkblue { color: $darkblue !important; background-color: rgba($darkblue, 0.1) !important; }
.alert-gray { color: $gray !important; background-color: rgba($gray, 0.1) !important; }
.alert-lightgray { color: $lightgray !important; background-color: rgba($lightgray, 0.1) !important; }
.alert-white { color: $white !important; background-color: rgba($white, 0.1) !important; }

/*
8888ba.88ba                 dP          dP
88  `8b  `8b                88          88
88   88   88 .d8888b. .d888b88 .d8888b. 88 .d8888b.
88   88   88 88'  `88 88'  `88 88'  `88 88 Y8ooooo.
88   88   88 88.  .88 88.  .88 88.  .88 88       88
dP   dP   dP `88888P' `88888P8 `88888P8 dP `88888P'
 */
.modal-body {
    padding: 1.25rem !important;
    border: none !important;
}
.modal-content {
    border-radius: 2px !important;
    border: none !important;
}
.modal-header, .modal-footer {
    background-color: #f2f2f2;
    border: none;
}

/*
 a88888b.                         dP
d8'   `88                         88
88        .d8888b. 88d888b. .d888b88 .d8888b.
88        88'  `88 88'  `88 88'  `88 Y8ooooo.
Y8.   .88 88.  .88 88       88.  .88       88
 Y88888P' `88888P8 dP       `88888P8 `88888P'
 */
.card {
    border-radius: 4px;
    border: none !important;
    box-shadow: $shadow;
    margin-bottom: 20px;
    transition: 500ms ease-out;
}
.card-header {
    border: none !important;
}
.card-footer {
    border: none!important;
    background-color: white!important;
    padding: 0!important;
}

/*
888888ba
88    `8b
88     88 .d8888b. dP   .dP
88     88 88'  `88 88   d8'
88     88 88.  .88 88 .88'
dP     dP `88888P8 8888P'
 */
#navbar {
    padding: 60px 10%;
    transition: 600ms;
    width: 100vw;
    position: fixed !important;
    z-index: 1000;

    &.navbar-shrink {
        padding: 30px 10% !important;
        background-color: $white;
        transition: 600ms;
    }
}

@media (min-width: $screen-xl-min) {
    #navbar {
        padding: 60px 22%;

        &.navbar-shrink {
            padding: 30px 22% !important;
        }
    }
}

.navbar-brand {
    margin: 0;
    padding: 0;
    text-align: center;

    img {
        height: 45px;
    }

    h6 {
        font-size: 21px;
        line-height: 30px;
    }
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    margin: 0 2.75em;
    text-align: center;
    font-weight: 500;
    color: $white;
    transition: 500ms;
}

.nav-item .dropdown-menu {
    left: 0;
    right: 0;
    margin: auto!important;
    width: 175px;
}

.navbar-toggle {
    background-color: white;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 40px;
    display: none;
}

.hamburger {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        background-color: $darkgray;
        width: 80%;
        height: 2px;
        margin: 3px 0;
        display: block;
        transition: all .4s ease;
        transform-origin: 0 0;
    }

    &.active span:nth-child(1) { transform: rotate(45deg) translate(3px, -2px) }
    &.active span:nth-child(2) { transform: scaleX(0) }
    &.active span:nth-child(3) { transform: rotate(-45deg) translate(1px, 2px) }
}

.mobile-nav-container, .mobile-nav, .mobile-nav-padding {
    position: fixed;
    height: 100vh;
    z-index: -1;
    top: 0;
}

.mobile-nav-container {
    width: 100vw;
    left: 0;
    transition: background 0.4s ease;
    pointer-events: none;

    &.active {
        pointer-events: unset;
        background-color: rgba(black, 0.5);
        transition: background 0.4s ease;
    }
}

.mobile-nav {
    background-color: white;
    width: 69vw;
    left: 0;
    padding: 150px 40px;
    transform: translateX(-100vw);
    transition: transform 0.4s ease;

    &.active {
        transform: translateX(0);
        transition: transform 0.4s ease;
    }
}

.mobile-nav-padding {
    width: 31vw;
    right: 0;
}

@media (max-width: $screen-lg-min) {
    #navbar {
        padding: 40px;

        &.navbar-shrink {
            padding: 30px 40px !important;
            background-color: $white;
            transition: 600ms;
        }

        .navbar-brand {
            img { height: 35px }
            h6 { font-size: 16px }
        }

        .navbar-toggle {
            display: block;
        }
    }
}

/*
dP
88
88 88d8b.d8b. .d8888b. .d8888b. .d8888b. .d8888b.
88 88'`88'`88 88'  `88 88'  `88 88ooood8 Y8ooooo.
88 88  88  88 88.  .88 88.  .88 88.  ...       88
dP dP  dP  dP `88888P8 `8888P88 `88888P' `88888P'
                            .88
                        d8888P
 */
.user {
    display: flex;
    align-items: center;
}

.profile-sm {
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.profile-md {
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

.profile-lg {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.profile-xl {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.event-banner-sm {
    width: 350px;
}

.event-banner-lg {
    width: 100%;
}

@media (max-width: 991px) {
    .event-banner-sm {
        width: 100%;
    }
}

/*
dP     dP
88     88
88aaaaa88a .d8888b. 88d8b.d8b. .d8888b. 88d888b. .d8888b. .d8888b. .d8888b.
88     88  88'  `88 88'`88'`88 88ooood8 88'  `88 88'  `88 88'  `88 88ooood8
88     88  88.  .88 88  88  88 88.  ... 88.  .88 88.  .88 88.  .88 88.  ...
dP     dP  `88888P' dP  dP  dP `88888P' 88Y888P' `88888P8 `8888P88 `88888P'
                                        88                     .88
                                        dP                 d8888P
 */
#homepage-hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    mix-blend-mode: overlay;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#welcome {
    width: 50%;
    font-size: 100px;
}

#tagline {
    font-size: 28px;
}

@media (max-width: 767px) {
    #welcome, #tagline { width: 90%; }
    #welcome { font-size: 70px; }
    #tagline { font-size: 20px; }
}

.announcment-date {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 767px) {
    .announcment-date {
        position: relative;
        top: unset;
        right: unset;
        width: 120px;
        margin-bottom: 10px;
    }
}

#footer-links h6 {
    margin: 0 5px;
}

/*
8888ba.88ba                    dP
88  `8b  `8b                   88
88   88   88 .d8888b. 88d888b. 88d888b. .d8888b. dP.  .dP
88   88   88 88'  `88 88'  `88 88'  `88 88'  `88  `8bd8'
88   88   88 88.  .88 88.  .88 88.  .88 88.  .88  .d88b.
dP   dP   dP `88888P8 88Y888P' 88Y8888' `88888P' dP'  `dP
                      88
                      dP
 */
.mapboxgl-map {
    height: 100%;
}

.mapboxgl-canvas:focus {
    outline: none;
}

.mapboxgl-ctrl-attrib-button {
    display: none;
}

.mapboxgl-ctrl-attrib {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 7px;
    background-color: white;
    opacity: .5;
}

.mapboxgl-ctrl-attrib-inner a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2d2d !important;
}

.mapboxgl-popup {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: -10px;
    min-width: 500px;
}

.mapboxgl-popup-content {
    background-color: white;
}

/*
888888ba             dP            d888888P          dP       dP
88    `8b            88               88             88       88
88     88 .d8888b. d8888P .d8888b.    88    .d8888b. 88d888b. 88 .d8888b. .d8888b.
88     88 88'  `88   88   88'  `88    88    88'  `88 88'  `88 88 88ooood8 Y8ooooo.
88    .8P 88.  .88   88   88.  .88    88    88.  .88 88.  .88 88 88.  ...       88
8888888P  `88888P8   dP   `88888P8    dP    `88888P8 88Y8888' dP `88888P' `88888P'
 */
.rdt_TableCol_Sortable div {
    font-weight: bold;
}
.rdt_TableRow button:disabled {
    cursor: unset;

    svg {
        fill: #BCC9D0;
    }
}
.rdt_ExpanderRow {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #0000001F;
}

/*
d888888P                              dP   dP     dP dP
   88                                 88   88     88 88
   88    .d8888b. .d8888b. .d8888b. d8888P 88     88 88
   88    88'  `88 88'  `88 Y8ooooo.   88   88     88 88
   88    88.  .88 88.  .88       88   88   Y8.   .8P 88
   dP    `88888P' `88888P8 `88888P'   dP   `Y88888P' dP
 */
.tui-full-calendar-weekday-schedule-title, .tui-full-calendar-timegrid-timezone-label, .tui-full-calendar-timegrid-hour span {
    font-size: 14px;
}
.tui-full-calendar-time-schedule-content-time, .tui-full-calendar-weekday-schedule-title {
    color: white;
}
.tui-full-calendar-time-schedule-content-time {
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.tui-full-calendar-weekday-grid-date-decorator {
    background: #C2CFE0 !important;
}
.tui-full-calendar-timegrid-timezone-label {
    font-weight: 700;
}
.tui-full-calendar-month-more, .tui-full-calendar-popup-container {
    box-shadow: $shadow-lifted;
    border-color: transparent !important;
}
.tui-full-calendar-popup-container {
    width: 400px !important;
}
.tui-full-calendar-timegrid-timezone {
    background-color: transparent !important;
}
.tui-full-calendar-timegrid-timezone-label-container {
    background-color: #F9F9F9 !important;
}
.tui-full-calendar-weekday-schedule-bullet {
    width: 8px;
    height: 8px;
    left: -4px;
}

/*
888888ba  oo
88    `8b
88     88 dP dP   .dP .d8888b.
88     88 88 88   d8' 88'  `88
88     88 88 88 .88'  88.  .88
dP     dP dP 8888P'   `88888P'
 */
.nivo-tooltip {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
}
.nivo-calendar text {
    font-family: Cera Pro, sans-serif !important;
    font-weight: 500;
}

/*
.d88888b  dP oo       dP
88.    "' 88          88
`Y88888b. 88 dP .d888b88 .d8888b. 88d888b.
      `8b 88 88 88'  `88 88ooood8 88'  `88
d8'   .8P 88 88 88.  .88 88.  ... 88
 Y88888P  dP dP `88888P8 `88888P' dP
 */
.rc-slider-rail {
    background-color: #dfe7ee;
}
.rc-slider-track {
    background-color: $darkblue;
}
.rc-slider-dot-active, .rc-slider-handle, .rc-slider-handle-dragging {
    border-color: $darkblue !important;
}
.rc-slider-handle-dragging {
    box-shadow: 0 0 0 5px rgba($darkblue, 0.5) !important;
}
