@font-face {
    font-family: 'Cera Pro';
    font-weight: 300;
    src: url('./fonts/CeraPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/CeraPro-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 400;
    src: url('./fonts/CeraPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/CeraPro-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 500;
    src: url('./fonts/CeraPro-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-style: italic;
    src: url('./fonts/CeraPro-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 700;
    src: url('./fonts/CeraPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/CeraPro-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 900;
    src: url('./fonts/CeraPro-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 900;
    font-style: italic;
    src: url('./fonts/CeraPro-BlackItalic.woff2') format('woff2');
}
