@font-face {
    font-family: 'Cera Pro';
    font-weight: 100;
    src: url('./fonts/CeraPro-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 100;
    font-style: italic;
    src: url('./fonts/CeraPro-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 300;
    src: url('./fonts/CeraPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 300;
    font-style: italic;
    src: url('./fonts/CeraPro-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 400;
    src: url('./fonts/CeraPro-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/CeraPro-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 500;
    src: url('./fonts/CeraPro-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 500;
    font-style: italic;
    src: url('./fonts/CeraPro-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 700;
    src: url('./fonts/CeraPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/CeraPro-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 900;
    src: url('./fonts/CeraPro-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'Cera Pro';
    font-weight: 900;
    font-style: italic;
    src: url('./fonts/CeraPro-BlackItalic.woff2') format('woff2');
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding-top: 150px;
    margin-top: -150px;
}

::-webkit-scrollbar {
    display: none;
}

#root {
    background-color: #F9F9F9;
}

#homepage-hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    mix-blend-mode: overlay;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

#welcome {
    width: 50%;
    font-size: 100px;
}

#tagline {
    font-size: 28px;
}

@media (max-width: 767px) {
    #welcome, #tagline { width: 90%; }
    #welcome { font-size: 70px; }
    #tagline { font-size: 20px; }
}

#hero-arrow {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    margin: auto;
    animation: bounce 2000ms infinite alternate ease-in-out;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

.hide {
    opacity: 0;
    transition: 300ms;
}

#footer-links h6 {
    margin: 0 5px;
}

.li-flex {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.announcment-date {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (max-width: 767px) {
    .announcment-date {
        position: relative;
        top: unset;
        right: unset;
        width: 120px;
        margin-bottom: 10px;
    }
}

.user {
    display: flex;
    align-items: center;
}

.profile-sm {
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.profile-md {
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

.profile-lg {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.profile-xl {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.event-banner-sm {
    width: 350px;
}

.event-banner-lg {
    width: 100%;
}

@media (max-width: 991px) {
    .event-banner-sm {
        width: 100%;
    }
}

.header {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    padding: 60px 130px;
}

@media (max-width: 767px) {
    .header {
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header h1 {
    font-size: 60px;
}

.loader {
    position: absolute;
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#notistack-snackbar, #notistack-snackbar path {
    color: white;
}

.nivo-tooltip {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.tui-full-calendar-popup-detail .tui-full-calendar-popup-container {
    width: 350px !important;
}

.tui-full-calendar-month-week-item .tui-full-calendar-today .tui-full-calendar-weekday-grid-date-decorator {
    background: #334D6E !important;
}

.rdt_TableCol_Sortable div {
    font-weight: bold;
}

.mapboxgl-map {
    height: 100%;
}

.mapboxgl-canvas:focus {
    outline: none;
}

.mapboxgl-ctrl-attrib-button {
    display: none;
}

.mapboxgl-ctrl-attrib {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 7px;
    background-color: white;
    opacity: .5;
}

.mapboxgl-ctrl-attrib-inner a {
    font-size: 12px;
    font-weight: 700;
    color: #2d2d2d !important;
}

.mapboxgl-popup {
    display: inline-block;
    position: absolute;
    top: 0;
    margin: -10px;
    min-width: 500px;
}
