$primary: #109CF1;
$yellow: #FFB946;
$red: #F7685B;
$green: #2ED47A;
$purple: #885AF8;
$black: #192A3E;
$dark-gray: #323C47;
$dark-blue: #334D6E;
$gray: #90A0B7;
$light-gray: #C2CFE0;
$white: #FFFFFF;

$gold: #FFB800;
$silver: #BDBDBD;
$bronze: #B4651D;

$shadow: 2px 2px 19px rgba(152, 152, 152, 0.25);

.bg-primary { background-color: $primary !important; }

.bg-yellow { background-color: $yellow !important; }

.bg-red { background-color: $red !important; }

.bg-green { background-color: $green !important; }

.bg-purple { background-color: $purple !important; }

.bg-black { background-color: $black !important; }

.bg-dark-gray { background-color: $dark-gray !important; }

.bg-dark-blue { background-color: $dark-blue !important; }

.bg-gray { background-color: $gray !important; }

.bg-light-gray { background-color: $light-gray !important; }

.bg-white { background-color: $white !important; }

.bg-gold { background-color: $gold !important; }

.bg-silver { background-color: $silver !important; }

.bg-bronze { background-color: $bronze !important; }

.text-primary { color: $primary !important; }

.text-yellow { color: $yellow !important; }

.text-red { color: $red !important; }

.text-green { color: $green !important; }

.text-purple { color: $purple !important; }

.text-black { color: $black !important; }

.text-dark-gray { color: $dark-gray !important; }

.text-dark-blue { color: $dark-blue !important; }

.text-gray { color: $gray !important; }

.text-light-gray { color: $light-gray !important; }

.text-white { color: $white !important; }

.text-gold { color: $gold !important; }

.text-silver { color: $silver !important; }

.text-bronze { color: $bronze !important; }

.font-w100 { font-weight: 100 !important; }

.font-w300 { font-weight: 300 !important; }

.font-w400 { font-weight: 400 !important; }

.font-w500 { font-weight: 500 !important; }

.font-w700 { font-weight: 700 !important; }

.font-w900 { font-weight: 900 !important; }

.font-sm { font-size: 14px !important; }

.font-md { font-size: 16px !important; }

.font-lg { font-size: 19px !important; }

.font-xl { font-size: 25px !important; }

.fill-primary { fill: $primary !important; }

.fill-yellow { fill: $yellow !important; }

.fill-red { fill: $red !important; }

.fill-green { fill: $green !important; }

.fill-purple { fill: $purple !important; }

.fill-black { fill: $black !important; }

.fill-dark-gray { fill: $dark-gray !important; }

.fill-dark-blue { fill: $dark-blue !important; }

.fill-gray { fill: $gray !important; }

.fill-light-gray { fill: $light-gray !important; }

.fill-white { fill: $white !important; }

.fill-gold { fill: $gold !important; }

.fill-silver { fill: $silver !important; }

.fill-bronze { fill: $bronze !important; }

.badge {
    border-radius: 4px;
    padding: 7px 12px !important;
    font-size: 13px !important;
    min-width: 120px;
}

.badge-primary {
    background: $primary !important;
    box-shadow: 0 4px 10px rgba($primary, 0.25);
}

.alert {
    border: none !important;
    border-radius: 8px;
    padding: 20px !important;
}

.alert-primary {
    background-color: rgba($primary, 0.1) !important;
}

* {
    font-family: Cera Pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    font-feature-settings: 'pnum' on, 'onum' on, 'salt' on, 'case' on, 'kern' off;
    color: $dark-gray;
}

b {
    color: inherit;
    font-size: inherit;
}

#navbar {
    padding: 60px;
    transition: 600ms;
    width: 100%;
    position: fixed !important;
    z-index: 1000;

    &.navbar-shrink {
        padding: 20px 60px !important;
        background-color: $white;
        transition: 600ms;
    }

    .navbar-brand {
        padding: 0 !important;
        text-align: center;

        img {
            height: 45px;
        }

        h6 {
            font-size: 21px;
            line-height: 30px;
        }
    }

    .navbar-nav {
        margin-left: auto;
    }

    .nav-link {
        margin: 0 2.75em;
        text-align: center;
        font-weight: 500;
        color: $white;
        transition: 500ms;
    }
}

.btn {
    border-radius: 5px !important;
    padding: 5px 25px !important;
    font-weight: 700 !important;
}

.navbar .btn-vatsim {
    background: $white;
    box-shadow: 0 4px 10px rgba($white, 0.25) !important;
    transition: 500ms;

    span {
        color: #2483C5;
        text-shadow: 0 4px 10px rgba(#2483C5, 0.25);
        background: -webkit-linear-gradient(45deg, #2483C5 20%, #2B3990);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 500ms;
    }
}

.navbar.navbar-shrink .btn-vatsim {
    background-color: $primary;
    box-shadow: 0 4px 10px rgba($primary, 0.25) !important;
    transition: 500ms;

    span {
        color: $white;
        text-shadow: 0 4px 10px rgba($white, 0.25);
        background: none;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        transition: 500ms;
    }
}

.container-fluid {
    padding: 60px 130px !important;
}

.card {
    padding: 20px !important;
    border-radius: 4px;
    border: none !important;
    box-shadow: $shadow;
    margin-bottom: 20px;
}